<!DOCTYPE html>
<html>
  <head>
    <title>SAML Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Ha cerrado sesión</h2>
    <form method="post" action="../login/callback">
        <button type="submit">Iniciar sesión</button>
  </form>
  </body>
</html>